@import '../../layout/commonStyle.scss';

.heroSection{
    height: 80vh;
    background-image: url('https://images.pexels.com/photos/8974398/pexels-photo-8974398.jpeg?auto=compress&cs=tinysrgb&w=800');
    background-position: center;
    background-size: cover;
    color: $white;
    display: grid;
    place-content: center;
    text-align: center;
    h2{
        font-size: 50px;
    }
    p{
        font-size: 25px;
    }
}